._btn {
  display: inline-block;
  background: #961914;
  border-radius: 8px;
  padding: 13px 42px;
  text-align: center;
  color: #ffffff;
}

._btn:hover {
  background: #7a120e;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
