.footer {
  background-color: #69120e;
  padding: 25px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 55px;
}

@media (max-width: 767.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.4;
}
