.header {
  background: url("../img/main-bg.jpg") center/cover no-repeat;
  padding: 225px 0;
  z-index: 5;
}

.header__content-head {
  margin: 0 auto;
  max-width: 1200px;
}

.header__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  top: 0;
}

.header__logo {
  z-index: 5;
}

.header__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__bottom-block {
  max-width: 460px;
  padding: 0 15px;
}

.header__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 12px;
}

@media (max-width: 767.98px) {
  .header__title {
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
  }
}

.header__title span {
  background: url("../img/decor/ellipse.svg") 0 100%/contain no-repeat;
  display: inline-block;
}

.header__subtitle {
  margin-bottom: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .header__subtitle {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 48px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}

@media (max-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.menu__link {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  font-family: "Montserrat";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #961914;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.menu__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 28px;
    color: #000;
  }
}

.header__fixed {
  position: fixed;
  top: 0;
  background-color: rgba(100, 96, 96, 0.5);
  -webkit-animation-name: show__header;
          animation-name: show__header;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

@-webkit-keyframes show__header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show__header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
