.section {
  position: relative;
}

.decor__icon-1 {
  background: url("../img/decor/smile-dog.svg") 0 0/contain no-repeat;
  position: absolute;
  top: 20%;
  left: 45%;
  width: 110px;
  height: 110px;
  -webkit-transform: rotate(12.2deg);
      -ms-transform: rotate(12.2deg);
          transform: rotate(12.2deg);
}

@media (max-width: 767.98px) {
  .decor__icon-1 {
    top: 14%;
    left: 70%;
    width: 100px;
    height: 100px;
  }
}

.decor__icon-2 {
  background: url("../img/decor/meal.png") 0 0/contain no-repeat;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 110px;
  height: 110px;
  -webkit-transform: rotate(-12.2deg);
      -ms-transform: rotate(-12.2deg);
          transform: rotate(-12.2deg);
}

@media (max-width: 767.98px) {
  .decor__icon-2 {
    top: 25%;
    left: 75%;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 399.98px) {
  .decor__icon-2 {
    top: 42%;
  }
}

.decor__icon-3 {
  background: url("../img/decor/apple.png") 0 0/contain no-repeat;
  position: absolute;
  bottom: 0%;
  right: 1%;
  width: 70px;
  height: 70px;
  z-index: 3;
}

@media (max-width: 767.98px) {
  .decor__icon-3 {
    width: 0px;
    height: 0px;
  }
}

.decor__icon-4 {
  background: url("../img/decor/line-rigth-footer.svg") 0 0/contain no-repeat;
  position: absolute;
  top: 0%;
  right: 0;
  width: 100px;
  height: 260px;
  z-index: 3;
  opacity: 0.8;
}

@media (max-width: 767.98px) {
  .decor__icon-4 {
    width: 80px;
    height: 200px;
  }
}

.decor__icon-6 {
  background: url("../img/decor/lines.svg") 0 0/contain no-repeat;
  position: absolute;
  top: 42%;
  left: 44%;
  width: 40px;
  height: 50px;
  z-index: 3;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

@media (max-width: 767.98px) {
  .decor__icon-6 {
    width: 0px;
    height: 0px;
  }
}
