.main {
  padding: 80px 0;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

@media (max-width: 991.98px) {
  .main__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .main__content {
    margin-bottom: 0;
  }
}

.main__content-left {
  padding-right: 20px;
}

@media (max-width: 991.98px) {
  .main__content-left {
    margin-bottom: 30px;
  }
}

.main__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}

.main__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 24px;
}

.main__subtitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}

.main__list {
  padding: 0 0 0 10px;
}

.main__link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  position: relative;
}

.main__link:not(:last-child) {
  margin-bottom: 10px;
}

.main__link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -10px;
  width: 6px;
  height: 6px;
  background-color: #961914;
  border-radius: 50%;
}

.main__content-right {
  max-width: 585px;
}

@media (max-width: 1140px) {
  .main__content-right {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .main__content-right {
    max-width: 100%;
  }
}

.main__image {
  display: block;
}

@media (max-width: 991.98px) {
  .main__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main .food {
  background-color: #ead1d0;
  padding: 32px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

@media (max-width: 991.98px) {
  .main .food {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .main .food {
    padding: 22px 30px;
  }
}

.main .food__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .food__title-adults, .main .food__title-pupies {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.main .food__adults, .main .food__puppies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}

@media (max-width: 1140px) {
  .main .food__adults, .main .food__puppies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0;
    padding-left: 60px;
  }
}

@media (max-width: 767.98px) {
  .main .food__adults, .main .food__puppies {
    padding-left: 30px;
  }
}

.main .food__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  color: #000000;
}

.main .food__items-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1140px) {
  .main .food__items-left {
    display: block;
  }
}

.main .food__item {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
  padding-left: 14px;
}

.main .food .item-1 {
  position: relative;
}

.main .food .item-1::before {
  position: absolute;
  content: url("../img/meal/steak.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-2 {
  position: relative;
}

.main .food .item-2::before {
  position: absolute;
  content: url("../img/meal/bone.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-3 {
  position: relative;
}

.main .food .item-3::before {
  position: absolute;
  content: url("../img/meal/vegetables.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-4 {
  position: relative;
}

.main .food .item-4::before {
  position: absolute;
  content: url("../img/meal/liver.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-5 {
  position: relative;
}

.main .food .item-5::before {
  position: absolute;
  content: url("../img/meal/offal.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-6 {
  position: relative;
}

.main .food .item-6::before {
  position: absolute;
  content: url("../img/meal/nuts.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-7 {
  position: relative;
}

.main .food .item-7::before {
  position: absolute;
  content: url("../img/meal/fruit.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -14px;
}
