.section-faq {
  background-color: #fff4f3;
  padding: 70px 0;
}

.section-faq__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .section-faq__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-faq__left-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.section-faq__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}

@media (max-width: 767.98px) {
  .section-faq__title {
    font-size: 32px;
    margin-bottom: 15px;
  }
}

.section-faq__right-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.section-faq__items {
  position: relative;
}

.section-faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  gap: 30px;
  max-width: 80%;
  cursor: pointer;
}

.section-faq__question:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .section-faq__question:not(:last-child) {
    margin-bottom: 7px;
  }
}

.section-faq__line {
  width: 20px;
  height: 3px;
  border-radius: 3px;
  top: 50%;
  right: -130px;
  background-color: #961914;
  position: absolute;
}

.section-faq__line::after {
  content: "";
  width: 20px;
  height: 3px;
  border-radius: 3px;
  top: 50%;
  right: 0px;
  background-color: #961914;
  position: absolute;
  font-size: 40px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 991.98px) {
  .section-faq__line {
    right: -50px;
  }
}

@media (max-width: 767.98px) {
  .section-faq__line {
    right: -35px;
  }
}

.section-faq__sub-item {
  max-height: 0;
  overflow: hidden;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  position: relative;
  left: 0;
  top: 10px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 20px;
}

.section-faq__sub-question {
  max-width: 80%;
}

.section-faq__question.active-line .section-faq__line::after {
  content: "";
  width: 20px;
  height: 3px;
  border-radius: 3px;
  top: 50%;
  right: 0px;
  background-color: #961914;
  position: absolute;
  font-size: 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
