.section-sets {
  background-color: #fff4f3;
  padding: 70px 0;
  margin-bottom: 40px;
}

.sets__headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .sets__headlines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.sets__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}

.sets__title span {
  background: url("../img/sets/ellipse.png") 0 100%/contain no-repeat;
  display: inline-block;
}

@media (max-width: 767.98px) {
  .sets__title {
    font-size: 32px;
  }
}

.sets__subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  max-width: 580px;
}

.sets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 24px;
  margin: 0 -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sets__content:not(:last-child) {
  margin: 0 0 66px 0;
}

.sets__card {
  padding: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-width: 300px;
  height: 100%;
}

.sets__picture {
  margin-bottom: 24px;
}

.sets__picture:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}

@media (max-width: 991.98px) {
  .sets__image {
    width: 100%;
  }
}

.sets__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  .sets__button {
    width: 100%;
  }
}

.block-set {
  color: #000000;
}

.block-set__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 8px;
}

.block-set__subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 5px;
}

.block-set__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9f9e9d;
  margin-bottom: 10px;
}

.block-set__price {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 15px;
}

.card-price__block {
  position: relative;
  background-color: #ead1d0;
  padding: 35px 25px 260px 25px;
}

.card-price__apple {
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  background: url("../img/decor/apple.png") 0 0/contain no-repeat;
  width: 90px;
  height: 90px;
  z-index: 3;
}

.card-price__meal {
  background: url("../img/decor/meal.png") 100% 0/contain no-repeat;
  position: absolute;
  top: 270px;
  left: 120px;
  width: 120px;
  height: 150px;
  z-index: 3;
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
          transform: rotate(70deg);
}

.card-price__line {
  background: url("../img/sets/line.svg") 100% 0/contain no-repeat;
  position: absolute;
  top: 320px;
  right: -200px;
  width: 320px;
  height: 250px;
  z-index: 3;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-price__title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 42px;
}

.card-price__button {
  background: #961914;
}

@media (max-width: 767.98px) {
  .card-price__button {
    width: 100%;
  }
}
