.section-sets {
  background-color: #fff4f3;
  padding: 70px 0;
}

.sets__headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}

.sets__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}

.sets__title span {
  background: url("../img/sets/ellipse.png") 280px 100%/contain no-repeat;
  display: inline-block;
}

.sets__subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  max-width: 580px;
}

.sets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 24px;
  margin: 0 -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sets__content:not(:last-child) {
  margin: 0 0 66px 0;
}

.sets__card {
  padding: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-width: 300px;
  height: 100%;
}

.sets__picture {
  margin-bottom: 24px;
}

.sets__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-set {
  color: #000000;
}

.block-set__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 8px;
}

.block-set__subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 5px;
}

.block-set__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9f9e9d;
  margin-bottom: 10px;
}

.block-set__price {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 15px;
}
