@charset "UTF-8";
/*------------------- Обнуление стилей---------------------------------*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,regular,500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
}

.menu__body._active {
  left: 0;
}

.menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .menu__icon {
    position: relative;
    top: 30px;
    right: 15px;
    display: block;
    width: 45px;
    height: 3.84px;
    z-index: 5;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
  }
  .menu__icon::before {
    top: 10px;
  }
  .menu__icon::after {
    bottom: 10px;
  }
  .menu__icon span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
    background: #000;
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000;
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000;
  }
}

.header {
  background: url("../img/main-bg.jpg") center/cover no-repeat;
  padding: 0 0 225px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header .header__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.header__logo {
  z-index: 5;
}

.header__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__bottom-block {
  max-width: 460px;
}

.header__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 12px;
}

@media (max-width: 767.98px) {
  .header__title {
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
  }
}

.header__subtitle {
  margin-bottom: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .header__subtitle {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 48px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}

@media (max-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.menu__link {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  font-family: "Montserrat";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #961914;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.menu__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 28px;
    color: #000;
  }
}

._btn {
  display: inline-block;
  background: #961914;
  border-radius: 8px;
  padding: 13px 42px;
  text-align: center;
  color: #ffffff;
}

._btn:hover {
  background: #7a120e;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.main {
  padding: 180px 0 30px;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

@media (max-width: 991.98px) {
  .main__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .main__content {
    margin-bottom: 0;
  }
}

.main__content-left {
  padding-right: 20px;
}

@media (max-width: 991.98px) {
  .main__content-left {
    margin-bottom: 30px;
  }
}

.main__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}

.main__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 24px;
}

.main__subtitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}

.main__list {
  padding: 0 0 0 10px;
}

.main__link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  position: relative;
}

.main__link:not(:last-child) {
  margin-bottom: 10px;
}

.main__link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -10px;
  width: 6px;
  height: 6px;
  background-color: #961914;
  border-radius: 50%;
}

.main__content-right {
  max-width: 585px;
}

@media (max-width: 1140px) {
  .main__content-right {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .main__content-right {
    width: 100%;
  }
}

.main__image {
  display: block;
}

@media (max-width: 991.98px) {
  .main__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main .food {
  background-color: #ead1d0;
  padding: 32px 80px;
}

.main .food__adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}

.main .food__puppies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}

.main .food__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  color: #000000;
}

.main .food__items-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .food__item {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
  padding-left: 14px;
}

.main .food .item-1 {
  position: relative;
}

.main .food .item-1::before {
  position: absolute;
  content: url("../img/meal/steak.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-2 {
  position: relative;
}

.main .food .item-2::before {
  position: absolute;
  content: url("../img/meal/bone.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-3 {
  position: relative;
}

.main .food .item-3::before {
  position: absolute;
  content: url("../img/meal/vegetables.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-4 {
  position: relative;
}

.main .food .item-4::before {
  position: absolute;
  content: url("../img/meal/liver.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-5 {
  position: relative;
}

.main .food .item-5::before {
  position: absolute;
  content: url("../img/meal/offal.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-6 {
  position: relative;
}

.main .food .item-6::before {
  position: absolute;
  content: url("../img/meal/nuts.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -12px;
}

.main .food .item-7 {
  position: relative;
}

.main .food .item-7::before {
  position: absolute;
  content: url("../img/meal/fruit.svg");
  width: 20px;
  height: 14px;
  top: 2px;
  left: -14px;
}

.section {
  background-color: #961914;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 160px;
}

@media (max-width: 1140px) {
  .section__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}

.section__contacts {
  padding: 60px 0;
}

.section__forms {
  padding: 80px 0;
}

@media (max-width: 1140px) {
  .section__forms {
    padding: 20px 0;
  }
}

.section__questions {
  margin-bottom: 35px;
}

.section__title-form {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.section__subtitle-form {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.section__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.section__input {
  width: 100%;
  padding: 22px 15px 6px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 20px;
  color: #ffffff;
}

.section__textarea {
  width: 100%;
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin-bottom: 22px;
  color: #ffffff;
  font-size: 24px;
}

.section__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__block-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.section__text-checkbox {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  max-width: 230px;
}

.section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff4f3;
  color: #ec7973;
}

.section__button:hover {
  background-color: #ec7973;
  color: #ffffff;
}

.contact {
  font-family: "Montserrat";
  font-style: normal;
  color: #ffffff;
  max-width: 310px;
}

@media (max-width: 1140px) {
  .contact {
    width: 100%;
  }
}

.contact__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.contact__text {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 32px;
}

.contact__inst {
  color: #ffffff;
  text-decoration: underline;
}

.contact__number {
  display: block;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.contact__social {
  margin-bottom: 40px;
}

.contact__whtsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 260px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 8px;
  padding: 10px 16px 10px 44px;
  cursor: pointer;
  margin-bottom: 16px;
}

.contact__whtsp:hover {
  background-color: #ec7973;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__whtsp::before {
  content: url("../img/social/whatsapp.svg");
  top: 5px;
  left: 10px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.contact__tlgr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 260px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 8px;
  padding: 10px 16px 10px 44px;
  cursor: pointer;
}

.contact__tlgr:hover {
  background-color: #ec7973;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__tlgr::before {
  content: url("../img/social/telegram.svg");
  top: 5px;
  left: 10px;
  width: 24px;
  height: 24px;
  position: absolute;
}

#checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
}

.footer {
  background-color: #69120e;
  padding: 25px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 55px;
}

@media (max-width: 767.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.4;
}

body {
  line-height: 1;
  font-family: "Montserrat";
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*="__container"] {
  max-width: 1250px;
  margin: 0px auto;
  padding: 0px 15px;
}
