@charset "UTF-8";
/*------------------- Обнуление стилей---------------------------------*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,regular,500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
}

.menu__body._active {
  left: 0;
}

.menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .menu__icon {
    position: relative;
    top: 30px;
    right: 15px;
    display: block;
    width: 45px;
    height: 3.84px;
    z-index: 5;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
  }
  .menu__icon::before {
    top: 10px;
  }
  .menu__icon::after {
    bottom: 10px;
  }
  .menu__icon span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
    background: #000;
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000;
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000;
  }
}

.header {
  background: url("../img/main-bg.jpg") center/cover no-repeat;
  padding: 0 0 225px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header .header__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.header__logo {
  z-index: 5;
}

.header__bottom-block {
  max-width: 460px;
}

.header__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 12px;
}

@media (max-width: 767.98px) {
  .header__title {
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
  }
}

.header__subtitle {
  margin-bottom: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .header__subtitle {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 48px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}

@media (max-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.menu__link {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  font-family: "Montserrat";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #961914;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.menu__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 28px;
    color: #000;
  }
}

._btn {
  display: inline-block;
  background: #961914;
  border-radius: 8px;
  padding: 13px 42px;
  text-align: center;
  color: #ffffff;
}

._btn:hover {
  background: #7a120e;
  -webkit-transition: all 0.4s ease 0;
  -o-transition: all 0.4s ease 0;
  transition: all 0.4s ease 0;
}

.main {
  padding: 180px 0 30px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.main__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}

.main__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 24px;
}

.main__subtitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}

.main__list {
  padding: 0 0 0 10px;
}

.main__link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  position: relative;
}

.main__link:not(:last-child) {
  margin-bottom: 10px;
}

.main__link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -10px;
  width: 6px;
  height: 6px;
  background-color: #961914;
  border-radius: 50%;
}

.main__image {
  width: 583px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #69120e;
  padding: 25px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 55px;
}

@media (max-width: 767.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.4;
}

body {
  line-height: 1;
  font-family: "Montserrat";
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*="__container"] {
  max-width: 1250px;
  margin: 0px auto;
  padding: 0px 15px;
}
