.menu {
  &__body {
    @media (max-width: 767.98px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        z-index: 2;
      }
    }
    &._active {
      left: 0;
    }
  }
  &__icon {
    display: none;
    @media (max-width: 767.98px) {
      position: relative;
      top: -10px;
      right: 30px;
      display: block;
      width: 45px;
      height: 3.84px;
      z-index: 5;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
      }
      &::before {
        top: 10px;
      }
      &::after {
        bottom: 10px;
      }
      span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0px;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      &._active span {
        transform: scale(0) translate(0px, -50%);
        background: #000;
      }

      &._active::before {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
        transition: all 0.3s ease 0s;
        background: #000;
      }

      &._active::after {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        transition: all 0.3s ease 0s;
        background: #000;
      }
    }
  }
}
