.section {
  background-color: #961914;
  // .section__container
  &__container {
    display: flex;
    gap: 160px;
    @media (max-width: 1140px) {
      flex-wrap: wrap;
      gap: 10px;
    }
    @media (max-width: 991.98px) {
    }
  }

  // .section__contacts
  &__contacts {
    padding: 60px 0;
    @media (max-width: 1140px) {
      padding: 40px 0 10px;
    }
    @media (max-width: 767.98px) {
      padding: 30px 0 10px;
    }
  }

  // .section__forms
  &__forms {
    padding: 80px 0;
    @media (max-width: 1140px) {
      padding: 20px 0;
    }
  }

  // .section__questions
  &__questions {
    margin-bottom: 35px;
  }

  &__title-form {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #ffffff;
  }

  // .section__subtitle
  &__subtitle-form {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }

  // .section__form
  &__form {
    max-width: 640px;
  }

  // .section__input-block
  &__input-block {
    display: flex;
    gap: 24px;
    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      gap: 5px;
      margin-bottom: 10px;
    }
  }

  &__input {
    width: 100%;
    padding: 22px 15px 6px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 20px;
    color: #ffffff;
  }

  // .section__textarea
  &__textarea {
    width: 100%;
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 24px;
  }

  // .section__items
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @media (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }

  &__block-data {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  // .section__text-checkbox
  &__text-checkbox {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ffffff;
    max-width: 230px;
    @media (max-width: 767.98px) {
      max-width: 100%;
    }
  }

  &__button {
    background: #fff4f3;
    color: #ec7973;
    text-align: center;
    &:hover {
      background-color: #ead1d0;
      color: #961914;
    }
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}
.contact {
  font-family: "Montserrat";
  font-style: normal;
  color: #ffffff;
  @media (max-width: 1140px) {
    width: 100%;
  }

  // .contact__title
  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.02em;
  }

  // .contact__text
  &__text {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 32px;
  }

  &__inst {
    color: #ffffff;
    text-decoration: underline;
  }

  // .contact__number
  &__number {
    display: block;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
    color: #ffffff;
    margin-bottom: 24px;
  }

  // .contact__social
  &__social {
    margin-bottom: 40px;
  }

  // .contact__whtsp
  &__whtsp {
    display: flex;
    position: relative;
    max-width: 260px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px 16px 10px 44px;
    cursor: pointer;
    margin-bottom: 16px;
    &:hover {
      background-color: #ec7973;
      transition: all 0.3s ease 0s;
    }
    &::before {
      content: url("../img/social/whatsapp.svg");
      top: 5px;
      left: 10px;
      width: 24px;
      height: 24px;
      position: absolute;
    }
  }

  // .contact__tlgr
  &__tlgr {
    display: flex;
    position: relative;
    max-width: 260px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px 16px 10px 44px;
    cursor: pointer;
    &:hover {
      background-color: #ec7973;
      transition: all 0.3s ease 0s;
    }
    &::before {
      content: url("../img/social/telegram.svg");
      top: 5px;
      left: 10px;
      width: 24px;
      height: 24px;
      position: absolute;
    }
  }
}

#checkbox {
  display: flex;
  align-self: start;
}
