.header {
  // .header__container
  background: url("../img/main-bg.jpg") 100% 100% / cover no-repeat;
  padding: 0 0 225px 0;
  &__container {
  }
  .header__top-block {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    justify-content: space-between;
    margin-bottom: 128px;
  }
  // .header__logo

  &__logo {
  }

  // .header__menu

  &__menu {
  }
  // .header__bottom-block

  &__bottom-block {
    max-width: 460px;
  }

  // .header__content

  &__content {
  }

  // .header__title

  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 12px;
  }

  // .header__subtitle

  &__subtitle {
    margin-bottom: 25px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #ffffff;
  }

  // .header__button

  &__button {
    display: inline-block;
    background: #961914;
    border-radius: 8px;
    padding: 13px 42px;
    text-align: center;
    color: #ffffff;
    &:hover {
      background: #7a120e;
      transition: all 0.4s ease 0;
    }
  }
}

.menu-nav {
  // .menu-nav__list
  &__list {
    display: flex;
    font-family: "Montserrat";
    gap: 53px;
    align-items: center;
  }

  // .menu-nav__link
  &__link a {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
  }
  &__link {
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #961914;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
