.header {
  background: url("../img/main-bg.jpg") center / cover no-repeat;
  padding: 225px 0;
  z-index: 5;
  &__content-head {
    margin: 0 auto;
    max-width: 1200px;
  }
  &__top-block {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 15px;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    position: fixed;
    top: 0;
  }

  // .header__logo
  &__logo {
    z-index: 5;
  }

  // .header__menu
  &__menu {
    align-self: center;
  }

  // .header__bottom-block
  &__bottom-block {
    max-width: 460px;
    padding: 0 15px;
  }

  // .header__title
  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 12px;
    @media (max-width: 767.98px) {
      font-size: 44px;
      line-height: 1.3;
      letter-spacing: 0.02em;
      margin-bottom: 24px;
    }
    & span {
      background: url("../img/decor/ellipse.svg") 0 100% / contain no-repeat;
      display: inline-block;
    }
  }

  // .header__subtitle
  &__subtitle {
    margin-bottom: 25px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #ffffff;
    @media (max-width: 767.98px) {
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 48px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    gap: 53px;
    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  // .menu-nav__link
  &__link {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    font-family: "Montserrat";
    align-items: center;
    gap: 53px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #961914;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    @media (max-width: 767.98px) {
      font-size: 28px;
      color: #000;
    }
  }
}
//--------------------------
.header__fixed {
  //
  position: fixed;
  top: 0;
  //background-color: rgba(150, 25, 20, 0.5);
  background-color: rgba(100, 96, 96, 0.5);

  animation-name: show__header;
  animation-duration: 0.7s;
}
//--------------------------
@keyframes show__header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
