.section-sets {
  background-color: #fff4f3;
  padding: 70px 0;
  margin-bottom: 40px;
}
.sets {
  // .sets__headlines
  &__headlines {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
    @media (max-width: 767.98px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // .sets__title
  &__title {
    flex: 1 1 50%;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
    & span {
      background: url("../img/sets/ellipse.png") 0 100% / contain no-repeat;
      display: inline-block;
    }
    @media (max-width: 767.98px) {
      font-size: 32px;
    }
  }

  // .sets__subtitle
  &__subtitle {
    flex: 1 1 50%;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    max-width: 580px;
  }

  // .sets__content
  &__content {
    display: flex;
    row-gap: 24px;
    margin: 0 -12px;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin: 0 0 66px 0;
    }
  }

  // .sets__card
  &__card {
    padding: 0 12px;
    flex: 1 1 25%;
    min-width: 300px;
    height: 100%;
  }

  // .sets__picture
  &__picture {
    margin-bottom: 24px;
    &:hover {
      transform: scale(1.1);
      transition: all 0.4s ease-in 0s;
    }
  }

  // .sets__image
  &__image {
    @media (max-width: 991.98px) {
      width: 100%;
    }
  }

  // .sets__block
  &__block {
    flex: 1 1 auto;
  }

  // .sets__button
  &__button {
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.block-set {
  // .block-set__title
  color: #000000;
  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 8px;
  }

  // .block-set__subtitle
  &__subtitle {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #434242;
    margin-bottom: 5px;
  }

  // .block-set__text
  &__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #9f9e9d;
    margin-bottom: 10px;
  }

  // .block-set__price
  &__price {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 15px;
  }
}
//--------
.card-price {
  // .card-price__block
  &__block {
    position: relative;
    background-color: #ead1d0;
    padding: 35px 25px 260px 25px;
  }

  &__apple {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: url("../img/decor/apple.png") 0 0 / contain no-repeat;
    width: 90px;
    height: 90px;
    z-index: 3;
  }

  &__meal {
    background: url("../img/decor/meal.png") 100% 0 / contain no-repeat;
    position: absolute;
    top: 270px;
    left: 120px;
    width: 120px;
    height: 150px;
    z-index: 3;
    transform: rotate(70deg);
  }

  &__line {
    background: url("../img/sets/line.svg") 100% 0 / contain no-repeat;
    position: absolute;
    top: 320px;
    right: -200px;
    width: 320px;
    height: 250px;
    z-index: 3;
    transform: rotate(180deg);
  }

  // .card-price__title
  &__title {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 42px;
  }

  // .card-price__button
  &__button {
    background: #961914;
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}
