@import "_null.scss";
@import "_burger.scss";
@import "header.scss";
@import "button.scss";
@import "main.scss";
@import "contacts-form.scss";
@import "checkbox.scss";
@import "icons-decor.scss";
@import "section-set.scss";
@import "section-zooov.scss";
@import "section-ration.scss";
@import "section-faq.scss";
@import "popup.scss";
@import "footer.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,regular,500,700&display=swap");

body {
  line-height: 1;
  font-family: "Montserrat";
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* ------------------------------ */
.main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}
